@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Text.Json


<h2>Projects : @data?.Length </h2>
@if (FinishStreaming)
{
    <p>
    <a href="#MostPopularProjects">Most Stars Projects</a>
    </p><p>
    <a href="#MostRisingProjects">Percentage Increasing Stars Projects</a>
    </p><p><a href="#allProjects">All Projects</a>
    </p>
}


@if (data?.Length > 0)
{
    <div id="allProjects"><h3> All projects </h3></div>
    <QuickGrid Items="IndexProjects" Class="quick-grid">

        <PropertyColumn Property="p => (p.index+1)" Sortable="false" Title="Index" />

        <TemplateColumn Context="prj" Title="Source Code" >
            <p>
            <a target="_blank" href="@($"{prj.project.Project.SourceCodeUrl}")">@prj.project.Project.Name</a>
            </p>
            <p>
            <a target="_blank" href="@($"{prj.project.Project.SourceCodeUrl}")">@prj.project.Project.SourceCodeUrl</a>
            </p>
            @prj.project.Project.Description
        </TemplateColumn>
        <TemplateColumn Context="prj" Title="Stars">
            <br />
            @if(prj.project.LastYear>0)
            {
                <text>
                Total : @prj.project.TotalStars
                <br />
                    For @prj.project.LastYear nr stars = @prj.project.LastYearStars
                </text>
            }
            
        </TemplateColumn>
    </QuickGrid>
}
@code {

    int nrSetParameters;
    [Parameter]
    public bool FinishStreaming { get; set; }
    [Parameter]
    public ProjectWithStars_null[]? data { get; set; }
    [Inject(Key = "statsconsole_host")]
    public HttpClient? httpApi { get; set; }

    
    public IQueryable<(int index, ProjectWithStars_null project)> IndexProjects =>
        (data ?? Enumerable.Empty<ProjectWithStars_null>()).Index().AsQueryable();


}




